.contacts {
  background-color: #999;
  color: white;
  padding: 2.5rem 0;
  margin: 2rem 0;
  
  a {
    color: inherit;
    @include state() {
      color: $ui-color-body;
      text-decoration: none;
    }
  }
}
