.contacts {
  background-color: #999;
  color: white;
  padding: 1rem 0;
  margin: 1rem 0;

  a {
    color: inherit;
    @include state() {
      color: $ui-color-body;
      text-decoration: none;
    }
  }
}