.technology {
  background: url('/web/img/bg.jpg');
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  &__item {
    margin-bottom: .5rem;

    span {
      border: 1px solid #ccc;
      padding: .5em 1em;
      font-size: .75em;
      line-height: 2.5em;
      color: white;
      border-radius: .25em;
      white-space: nowrap;
    }
  }
}